@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* CSS Variables */

:root {
  --color-primary: #01acfd;
  --color-secondary: #fea301;
}

/* CSS Resets */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Page Container */
.container {
  width: min(1160px, 85%);
  margin-inline: auto;
  /* border: 5px solid tomato; */
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #111111;
  background: #f7f7f7;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: #000;
}

h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 4.6rem;
}

h3 {
  font-size: 2.4rem;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Buttons */
.btn {
  line-height: 1;
  padding: 1.8rem 6rem;
  width: max-content;
  display: block;
  border-radius: 12px;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
}

.btn--primary {
  background: var(--color-secondary);
  color: #fff;
}

.btn--secondary {
  background: #111;
  color: #fff;
}

/* Primary Navigation */
.nav {
  display: flex;
  border: 3px solid tomato;
  gap: 3.2rem;
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 1.1rem;
  font-weight: 700;
  border: 3px solid green;
}

.nav__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-grow: 1;
  border: 3px solid dodgerblue;
  gap: 3.2rem;
  font-weight: 700;
}

.nav__list li:first-child {
  margin-left: auto;
}

.nav__list li:last-child {
  margin-left: auto;
}
